.homeContainer h1 {
  font-size: 2rem;
  margin-bottom: 24px;
}

.cardGrid {
  display: grid;
  // This creates a responsive grid that fits as many cards as possible
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
}